
@{
    Layout = null;
}

<!DOCTYPE html>
<html  ng-app="app">
<head>
    <title>Main page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="@Url.Content("~/Content/js/app.js")"></script>
    <script src="@Url.Content("~/Content/js/app.controllers.js")"></script>
    <script src="@Url.Content("~/Content/js/app.directives.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Content/css/reduce.css")"
 

</head>
<body>

<div>
    @RenderBody()
</div>

</body>
</html>